<tr>
  <td><%= question.id %></td>
  <td><%= question.body %></td>
  <td><%= link_to 'show', test_question_path(@test.id, question.id) %></td>
  <td><%= link_to 'edit', edit_test_question_path(@test.id, question.id) %></td>
  <td><%= link_to 'delete', test_question_path(@test.id, question.id),
          method: :delete,
          data: { confirm: 'Are you sure?' }%>
  </td>
</tr>
