<%= form_with model: [:admin, @badge], local: true do |form| %>

  <%= render 'shared/errors', obj: @badge %>

  <div class="actions">
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title, id: :test_title %>
    </p>

    <p>
      <%= form.label :criterion %><br>
      <%= form.text_field :criterion, id: :badge_criterion %>
    </p>

    <%= form.submit %>
  </div>
<% end %>
