<%= content_tag :div, class: "progress",
                      data: {
                        question_counter: "#{@test_passage.question_counter}",
                        questions_amount: "#{@test_passage.test.questions.count}"
                      } do %>

  <%= content_tag :div, class: 'progress-bar progress-bar-info progress-bar-striped',
                        role: "progressbar",
                        aria_valuemin: "0",
                        aria_valuemax: "100" do %>
  <% end %>
<% end %>

<div class="container mt-5">
  <h3 align="center">You're doing the <%= @test_passage.test.title %> test</h3>

  <% if @test_passage.test.duration > 0 %>
    <p  align="center">
      Time limit: <span><%= @test_passage.test.duration %></span> min.
      Left: <span id="timer"
                  data-min=<%= @test_passage.time_left[0]%>
                  data-sec=<%= @test_passage.time_left[1].to_s %> >
            </span>
    </p>
  <% end %>

  <h5 id="quest-counter" align="center">
    Question <%= "#{@test_passage.question_counter} / #{@test_passage.test.questions.count}:"%>
  </h5>


  <div class="row justify-content-center mt-3">
    <div class="col col-md-4">
      <p><b><%= "#{@test_passage.current_question.body}" %></b></p>

      <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
        <div class="form-group">
          <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers,
            :id, :body, include_hidden: false do |b| %>
            <p>
              <%= b.check_box id: "answer_ids_#{b.object.id}" %>
              <%= b.label %>
            </p>
          <% end %>

          <p>
            <%= link_to "Gist Question", gist_test_passage_path(@test_passage), method: :post %>
          </p>

          <p>
            <%= form.submit 'Next', id: 'next-quest' %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
