<tr>
  <td><%= answer.id %></td>
  <td><%= answer.body %><br>
  <%= link_to 'show', answer %> |
  <%= link_to 'edit', edit_answer_path(answer) %> |
  <%= link_to 'delete', answer,
          method: :delete,
          data: { confirm: 'Are you sure?' }%>
  </td>
</tr>
