<div class="container mt-3">
  <h3>Question: <%= @answer.question.body %></h3>
  <h2>Answer: <%= @answer.body %></h2>
  <p>Correctness: <%= @answer.correct %></p>

  <%= link_to 'Edit', edit_admin_answer_path(@answer) %> |
  <%= link_to 'Back', admin_question_path(@answer.question) %>
</div>
