<div class="container mt-3">
  <h1><%= t('.header') %></h1>

  <table class="table table-hover">
    <thead class="thead-light">
      <tr style='border-bottom: 1pt solid black'>
        <th><%= t('.table_header.id') %></th>
        <th><%= t('.table_header.title') %></th>
        <th><%= t('.table_header.category') %></th>
        <th style="text-align: center"><%= t('.table_header.number_of_questions') %></th>
        <th><%= t('.table_header.actions') %></th>
      </tr>
    </thead>
    <%= render @tests %>
  </table><br>
</div>
