<h1><%= t('.header') %></h1>

<table style='border-spacing: 5px;'>
  <tr >
    <th style='border-bottom: 1pt solid black'><%= t('.table_header.id') %></th>
    <th style='border-bottom: 1pt solid black'><%= t('.table_header.title') %></th>
    <th style='border-bottom: 1pt solid black'><%= t('.table_header.category') %></th>
    <th style='border-bottom: 1pt solid black'><%= t('.table_header.number_of_questions') %></th>
    <th style='border-bottom: 1pt solid black'><%= t('.table_header.actions') %></th>
  </tr>
  <%= render @tests %>
</table><br>
