<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= content_for?(:content) ? yield(:content) : yield %>
    <footer style ="
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;">
      <p> <%= current_year.to_s + '.   Project ' %>
          <%= link_to_github('rublen', 'TestGuru') %>
          whithin RoR course of online coding school
          <%= link_to 'Thinknetica', 'http://thinknetica.com' %>
      </p>
    </footer>
  </body>
</html>
